# BigQuery — GCP project que contém os dados do Firebase Analytics
BIGQUERY_PROJECT_ID=
# BigQuery — Dataset gerado automaticamente pelo Firebase Analytics (formato: analytics_<ID>)
BIGQUERY_ANALYTICS_DATASET=
